extends layout

block content
  h1= title
  
  form(method='GET' action='')
    div.form-group
      label(for='gtfs-url') GTFS URL:
      input#gtfs-url.form-control(type='text', name='gtfs-url')
    button.btn(type='submit') Generate Map
    
    if errors
      ul
        for error in errors
          li!= error.msg