extends layout

block content
  h1= title
  if map
    div#map_box= map
  
  if errors
    ul
      for error in errors
        li!=error.msg
    form(method='GET' action='')
      div.form-group
        label(for='gtfs_url') GTFS Feed URL:
        input#gtfs_url.form-control(type='text', name='gtfs_url', placeholder='http://mygtfsfeed.com')
        button.btn(type='submit') Generate Map